<span class="btn btn-link pull-right inactive" data-behavior="show-detail show-on-hover" data-id="<%= detailable.id %>" data-toggle="tooltip" data-placement="top" title="Show details">
  <span class="glyphicon glyphicon-zoom-in"></span>
</span>
