<div class="page-header">
  <%= link_to new_import_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Import
  <% end %>
  <h1>imports</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @imports) do |import| %>
        <td><%= import.name %></td>
        <td><%= link_to 'Show', import %></td>
      <% end %>
    </tbody>
  </table>
</div>
