<div class="page-header">
  <%= link_to new_import_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Import Posts
  <% end %>
  <%= link_to new_post_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Post
  <% end %>
  <h1>Posts</h1>
</div>

<%= render @posts %>
