<div class="page-header">
  <%= link_to new_import_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Import Posts
  <% end %>
  <%= link_to new_post_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Post
  <% end %>
  <h1>Posts</h1>
</div>

<table id="posts-table", data-source="<%= posts_path(format: :json) %>" class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
