<div class="page-header">
  <%= link_to new_post_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Post
  <% end %>
  <h1>Posts</h1>
</div>

<% for post in @posts %>
  <div>
    <h2><%= link_to post.title, post %></h2>
    <p><%= post.body %></p>
    <p>
      <small>
        <%= post.created_at.to_s(:long) %>
      </small>
    </p>
  </div>
<% end %>
