<div class="page-header">
  <%= link_to new_category_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Category
  <% end %>
  <h1>categories</h1>
</div>

<table id="categories-table", data-source="<%= categories_path(format: :json) %>" class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Posts</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
